# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
*.env

# Logs
*.log

# Configuration files
config.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.DS_Store
*.coverage
*.tox/
*.nox/
*.coverage
*.hypothesis/
*.mypy_cache/
